<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Predictor</title>
    <!-- <<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>

<body>
    <div class="container">
        <h1>Disease Predictor</h1>
        <form method="POST">
            <p>Enter at least 3 inputs. Leave the rest blank.</p>
            {% for i in range(1, 12) %}
            <div class="form-group">
                <label for="input{{ i }}">Input {{ i }}:</label>
                <input type="text" id="input{{ i }}" name="input{{ i }}"
                    value="{{ 'NaN' if inputs and inputs['input' ~ i]|string == 'np.nan' else inputs.get('input' ~ i, '') }}"
                    placeholder="Input {{ i }}">

            </div>
            {% endfor %}
            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
        <div class="result">
            <h2>Prediction Result:</h2>
            <p>{{ prediction }}</p>
        </div>
        {% endif %}
    </div>
</body>

</html>